{% extends 'bases/base.html' %}
{% block content %}
  {% load static %}
  {% load form_tags %}

  {% if user.is_authenticated %}
    <script>
      window.location = 'http://' + window.location.host + '/';
    </script>
  {% endif %}

  {% if signup_err %}
    <div class="alert alert-danger" role="alert">
      {{ form_err }}
    </div>
    <script>
      window.location = 'http://' + window.location.host + '/signup';
    </script>
  {% elif success %}
    <script>
      alert("User added successfully!!");
      window.location = 'http://' + window.location.host + '/';
    </script>
  {% else %}
    <h1 class="text-center my-5">Rock Paper Scissors</h1>

    <div class="container my-5">
      <form id="signup-form" method="post" action="/signup" class="border p-4 rounded shadow-sm mx-auto" style="max-width: 400px; background-color: #f8f9fa;">
        {% csrf_token %}

        <div class="mb-3">
          <label for="username" class="form-label">{{ form.username.label }}</label>
          {{ form.username|add_class:"form-control" }}
        </div>

        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">{{ form.password1.label }}</label>
          {{ form.password1|add_class:"form-control" }}
        </div>

        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">{{ form.password2.label }}</label>
          {{ form.password2|add_class:"form-control" }}
        </div>

        <div class="mb-3">
          <input type="checkbox" name="showpass" id="showpass">
          <label for="showpass">Show Password</label>
        </div>

        <button type="submit" class="btn btn-primary w-100">Sign Up</button>
      </form>

      <div class="my-5 text-center">
        <p>Already have an account?</p>
        <a href="/login" class="btn btn-secondary">Login Instead</a>
      </div>
    </div>
  {% endif %}

  <script src="{% static 'js/signup.js' %}"></script>
  <!-- <script>
    // Toggle password visibility
    document.getElementById('showpass').addEventListener('change', function() {
      var passwordFields = document.querySelectorAll('input[type=password]');
      passwordFields.forEach(function(field) {
        field.type = field.type === 'password' ? 'text' : 'password';
      });
    });
  </script> -->
{% endblock content %}
